body {
    background-color: whitesmoke;
}

.temp-converter-container {
    background-color: lightgray;
    border-radius: 1em;
    border: 2px solid black;
    box-shadow: 0 0 1em 1em lightskyblue;
    margin-top: 2em;
}

h1 {
    padding: .5em;
}

#tempForms {
    padding: 4em;
}

#tempOutput, .fas {
    font-size: 5em;
}

.far {
    font-size: 3em;
    margin-top: 1em;
}

.fas {
    margin-top: 1em;
}

.fa-sun {
    font-size: 3em;
    margin-top: 1em;
}

#tempZone {
    padding: 2em;
}